@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
        <link href="@Styles.Url("~/scripts/css")" rel="stylesheet"/>
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
        @* favicons and touch icons go here *@  

        <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="~/scripts/bootstrap.js"></script>
        <script type="text/javascript" src="~/scripts/jquery.validate.js"></script>
        <script type="text/javascript" src="~/scripts/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive.js"></script>
        <script type="text/javascript" src="~/scripts/jquery.validate-fix.js"></script>
        <script type="text/javascript" src="~/scripts/js/locales/bootstrap-datepicker.pt-BR.js"></script>
        <script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive-custom-for-bootstrap.js"></script>
        <script type="text/javascript" src="~/scripts/jquery.maskedinput.js"></script>
        <script type="text/javascript" src="~/scripts/inputs-jquery-ui.js"></script>

        <link href="@Styles.Url("~/Content/Site-Default.css")" rel="stylesheet" media="screen and (device-aspect-ratio: 1280/1024)" />
        <link href="@Styles.Url("~/Content/Site-Full-Hd.css")" rel="stylesheet" media="screen and (device-aspect-ratio: 1920/1080)" />
        <link href="@Styles.Url("~/Content/Site.css")" rel="stylesheet" />
        <link href="@Styles.Url("~/Content/cus-icons.css")" rel="stylesheet" />

        <link href="@Styles.Url("~/Content/bootstrap.css")" rel="stylesheet" />
        <link href="@Styles.Url("~/Content/body.css")" rel="stylesheet" />
        <link href="@Styles.Url("~/Content/bootstrap-responsive.css")" rel="stylesheet" />
        <link href="@Styles.Url("~/scripts/css/datepicker.css")" rel="stylesheet" />
        <link href="@Styles.Url("~/Content/bootstrap-mvc-validation.css")" rel="stylesheet" />
    </head>
    @*rgba(242, 237, 180, 0.54)*@
    <body style="background-color: rgb(57, 57, 57) ">  
        @Html.Partial("menu")
@*        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#" title="change in _bootstrapLayout.basic.cshtml">Finanças</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            @Html.Navigation()
                        </ul>
                    </div>
                </div>
            </div>
        </div>        *@
        <div class="container">
            @Html.Partial("_alerts")
            @BreadCrumbPage.Trace((Seguranca.Models.Control.BreadCrumb)ViewBag.BreadCrumb)
            @RenderBody()   
        </div>
        @Scripts.Render("~/js")
         @RenderSection("Scripts", required: false)
    </body>
</html>

