@using Seguranca.Models.Repositories
@using Seguranca.Models.Enumeracoes
@using App_Dominio.Repositories
@model System.Web.Mvc.PagedList<App_Dominio.Repositories.LogAuditoriaRepository>
@{
    ViewBag.Title = "Segurança";
    ViewBag.Header = "Log de Auditoria";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            Log de Auditoria <small> Consulta dos eventos registrados no Log de Auditoria realizados pelos usuários dentro de um período</small>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row" style="height: 140px; padding-left: 10px">
            @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "get" }, new { @class = "form-horizontal", @role = "search" }))
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12">
                            @Html.Editor("_usuarioID", "LOV", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Usuário",
                                                           id = "usuarioId",
                                                           text = "nome_usuario",
                                                           lovModal = "LovUsuarioAllModal",
                                                           controller = "usuarios",
                                                           descricao = "nome",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = "",
                                                               Text = ""
                                                           },
                                                           disableButtons = false,
                                                           nextField = "transacaoId"
                                                       }
                                               })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-12">
                            @Html.Editor("_transacaoId", "LOV", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Funcionalidade",
                                                           id = "transacaoId",
                                                           text = "nome_transacao",
                                                           lovModal = "LovTransacaoModal",
                                                           controller = "log",
                                                           descricao = "nome",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = "",
                                                               Text = ""
                                                           },
                                                           disableButtons = false,
                                                           nextField = ""
                                                       }
                                               })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12">
                            @Html.Label("Período", new { @class = "control-label" })
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.Editor("_data1", "DATE", new { identificador = "data1", readOnly = "false", value = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1) })
                                </div>
                                <div class="col-md-8">
                                    @Html.Editor("_data2", "DATE", new { identificador = "data2", readOnly = "false", value = DateTime.Today })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-12" style="margin-top: 20px">
                            <button type="button" class="btn btn-default" onclick="return validaBusca();">Buscar</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="div-list2">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function validaBusca() {
        if ($("#data1").val() == "" || $("#data2").val() == "") {
            ShowMessageAlert('Informe o período para realizar a busca.', 'warning');
            return false;
        }
        Refresh(0, getPageSize(), 'ListLogAuditoria', 'div-list2');
        return true;
    }

</script>




