@model System.Web.Mvc.PagedList<App_Dominio.Repositories.UsuarioRepository>
@{
    Layout = null;
}
@if (Model != null && Model.Count > 0)
{
    <div class="row Scroll">
        <div class="col-md-12 column">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px; margin-top: 10px">
                <caption></caption>
                <thead style="background-color: #fff1a5">
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Login</th>
                        <td>Situação</td>
                        <th>Admin</th>
                    </tr>
                </thead>
                @foreach (App_Dominio.Repositories.UsuarioRepository user in Model)
                {
                    <tr>
                        <td style="width: 20%">
                            <div class="row-clearfix">
                                <div class="col-md-12">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-sm" type="button">
                                            <em class="glyphicon glyphicon-edit"></em> @Html.ActionLink("Editar", "Edit", routeValues: new { usuarioId = user.usuarioId }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                        </button>
                                        <button class="btn btn-sm" type="button">
                                            <em class="glyphicon glyphicon-remove"></em> @Html.ActionLink("Excluir", "Delete", routeValues: new { usuarioId = user.usuarioId }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            @user.nome
                        </td>
                        <td>
                            @user.login
                        </td>
                        @if (@user.situacao == "A")
                        {
                            <td>Ativado</td>
                        }
                        else
                        {
                            <td>Desativado</td>
                        }
                        <td style="text-align: center">
                            @user.isAdmin
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}


